@{
    ViewData["Title"] = "Home Page";
}

<!--
    ==================================================
    Slider Section Start
    ================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>Zachary Barkoviak</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">PROGRAMMER</b>
                                <b>DEVELOPER</b>
                                <b>TEACHER</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        With multiple years in the customer service industry, 2 years in mangement, and 6 years working in
                        construction, I know my way around
                        any job you throw at me. Have a problem? I can solve it!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#main-slider-->
<!--
==================================================
About Section Start
================================================== -->
<section id="about">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft border border-info rounded" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        ABOUT ME
                    </h2>
                    <p>
                        <strong>
                            Hey, My name is Zach Barkoviak and I am a developer &amp; maker of stuff from Kansas City, Missouri. I began coding when I was in my
                            early years, but after 6 years working as a manual laborer I decided to turn my passion into a career!
                        </strong>
                    </p>
                    <p>
                        <strong>
                            The skills and knowledge I aquired from my previous work experience make me a unique asset to any professional environment!
                        </strong>
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="images/about/ProfilePic.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->

<!--==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">What I Bring To The Table</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Inovation</h4>
                        <p>The way I approach problems is very goal oriented. If something needs to be done, I will find the most optimal and efficient solution and deliver only the highest quality of product.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <!-- <i class="ion-ios-lightbulb-outline"></i> -->
                            <i class="fa fa-code-fork" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Communication</h4>
                        <p>From my position as an Amazon warehouse manager at the age of 19 to the four years I spent as a low voltage electrician, communication was always a top priority. 
                            I make sure that everyone on my team is up to date and aware of all aspects of the current project. On top of that, I believe the customer deserves to know the status 
                            of their project just as much as my team, so clear lines of communication with them is equally as important.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-power"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Dedication</h4>
                        <p>While some might consider stubornness a negative quality, I turn it into a force that drives me in the search for perfection. Wherever I end up, whatever project I am put on, the tasks 
                            at hand will get done, and they will get done right!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Goal Oriented</h4>
                        <p>From point A to point Z there are goals that need to be met. The best way to achieve those goals is a plan. I have always been proficient 
                            in task orginization and breaking problems down into managable chunks. This allows me to deliver a final product where each component is of the highest possible quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Customer Service</h4>
                        <p>I'm no stranger to customer interactions. Respect is always the number one priority and presenting myself and the company I work for in a professional manner is second nature.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading bg-info rounded text-center">Student/Teacher</h4>
                        <p>The process of learning new things has always been exciting to me. In my search for knowledge I realized that the best way to learn things is to teach. 
                            I believe that you don't fully understand a topic until you can teach it to someone else. We all want to improve and grow, so lets help each other achieve those goals!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#feature -->
    }

<!--
          ==================================================
          Call To Action Section Start
          ================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        SO WHAT YOU THINK ?</h1>
                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                           data-wow-duration="500ms">Contact Me</a>
                </div>
            </div>

        </div>
    </div>
</section>
