
@{
    ViewData["Title"] = "Links";
}

<!--
  ==================================================
      Global Page Section Start
  ================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Team Links</h2>
                    <ol class="breadcrumb list-inline text-center">
                        <li class="list-inline-item">
                            <a href="@Url.Action("Index", "Home")">
                                <i class="ion-ios-home"></i>
                                Home &nbsp; &nbsp;/
                            </a>
                        </li>
                        <li class="active list-inline-item">Links</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
==================================================
    Company Description Section Start
================================================== -->
@*<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                <img src="../images/about/about-team.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Team Intro Stuff</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun. Lorem
                        ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                        repudiandae sint et molestiae non recusandae.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>*@


<!--
==================================================
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 px-0">
                <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    <h2>
                        Who are we?
                    </h2>
                    <p>
                        All of the work you see before you was completed along side some fantastic and brilliant individuals 
                        that assisted in honing my skills during my time in the Centriq full stack developer course
                    </p>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <h2 class="item_title">
                        What We Do
                    </h2>
                    <p>
                        As a team of aspiring developers we were tasked with many projects and faced countless challenges. Through it all, we were there 
                        to help each other and in the process learned the importance of communication and teamwork!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                    <h2 class="item_title">
                        Meet The Energy
                    </h2>
                    <p>
                        Below are the profiles of my classmates who I have come to love and call my friends. Each one of these individuals posseses incredible 
                        problem solving skills and unmatched potential. I couldn't have gotten where I am today without them and they deserve recognition for their achievments.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Team Section Start
================================================== -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subtitle text-center">Meet The Team</h2>
            </div>
            <div class="col-12 d-flex">
                <div class="col-md-3 col-sm-5 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="../images/team/brittanyDodd.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Brittany Dodd</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">

                        </p>
                        <p class="social-icons">
                            <a href="http://brittanydodd.net/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/brittany-dodd-230467249/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="../images/team/caseyBrown.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Casey Brown</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">

                        </p>
                        <p class="social-icons">
                            <a href="http://somethingcachey.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="http://linkedin.com/in/CaseyBrownWD" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="team-img">
                            <img src="../images/team/johnWalls.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">John Walls</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://jpwalls.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/jpwalls08" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/john-w-0151b31b3" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="team-img">
                            <img src="../images/team/kurtisCaldwell.jpeg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Kurtis Caldwell</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://kurtiscaldwell.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="../images/team/paigeScott.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Paige Scott</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://readypaigeone.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/paigepaige3" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/think-paige-scott" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="../images/team/seanCoyan.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Sean Coyan</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://seancoyan.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/SeanCodes2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/seancoyan/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="team-img">
                            <img src="../images/team/stormAgnew.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Storm Agnew</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://stormycoding.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="team-img">
                            <img src="../images/team/tannerLampson.JPG" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Tanner Lampson</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="tannermatthew.dev" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/CyberTML" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="http://www.linkedin.com/in/tanner-lampson-0422b7249" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="../images/team/devinKuhlman.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Devin Kuhlman</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="http://www.devinkuhlman.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/DevinKuhlman" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/devin-kuhlman-9abb87222/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="../images/team/matthewJennings.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Matthew Jennings</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="https://www.matthewjennings.net/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/mejennings104" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/matt-jennings-9bb1061b2" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="team-img">
                            <img src="../images/team/dylanPoole.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Dylan Poole</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="https://www.dylanpoole.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/dypool01" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/dylan-poole-141602241/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="team-img">
                            <img src="../images/team/dawsonMeier.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Dawson Meier</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="https://www.dawsonmeierdev.net/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/dmeier12" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/dawson-meier-b9781a238/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="../images/team/jacquelynLittle.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Jacquelyn Little</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="https://www.jacquelynlittle.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="http://github.com/Jacquelyn525" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/jacquelyn-little-937497249" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border border-info border-5 bg-dark rounded m-1">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="../images/team/junoLewis.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Juno Lewis</h3>
                        <p class="team_designation">Classmate</p>
                        <p class="team_text">
                        </p>
                        <p class="social-icons">
                            <a href="https://www.jlewisinquiry.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="https://github.com/Juno0311" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/juno-lewis-825714247/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
          ==================================================
          Call To Action Section Start
          ================================================== -->
@*<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        SO WHAT YOU THINK ?</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                            Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni
                            recusandae? Dolore, maxime praesentium.
                        </p>
                        <a href="@Url.Action("Contact", "Home")" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                           data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>*@