@model PrivateSite.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

  <section class="global-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Contact</h2>
            <ol class="breadcrumb list-inline text-center">
              <li class="list-inline-item">
                <a href="@Url.Action("Index", "Home")">
                  <i class="ion-ios-home"></i>
                  Home &nbsp; &nbsp;/
                </a>
              </li>
              <li class="active list-inline-item">Contact</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="contact-section">
    <div class="container text-center bg-dark border border-info border-5 rounded p-2">
      <div class="row">
        <div class="col-md-6 offset-3 mb-5 mb-md-0">
          <div class="block">
            <h2 class="subtitle wow fadeInDown text-info mt-3" data-wow-duration="500ms" data-wow-delay=".3s">Contact Me</h2>
            <div class="contact-form">
              <form asp-action="Contact" id="contact-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                   <input asp-for="Name" class="form-control" placeholder="Name"/>
                   <span asp-validation-for="Name" class="text-danger"></span> 
                </div>

                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                   <input asp-for="Email" class="form-control" placeholder="Email"/>
                   <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                  <input asp-for="Subject" class="form-control" placeholder="Subject"/>
                  <span asp-validation-for="Subject" class="text-danger"></span>
                </div>

                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                  <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                  <span asp-validation-for="Message" class="text-danger"></span>
                </div>

                <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                    <input type="submit" value="Submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-center pt-4 offset-3" id="social-links">
        <a href="https://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" target="_blank">
          <i class="fa fa-linkedin-square fa-5x p-3" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ZachBarkoviak" target="_blank">
          <i class="fa fa-github-square fa-5x p-3" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fa fa-trello fa-5x p-3" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
